<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://via.placeholder.com/150x28.png?text=Site%20Logo">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/">
                Home
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/">
                        <strong>Log In</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>